

[b-bind]{
  display:none;
}
[b-loop]{
  display:none;
}
::input-placeholder{
  color:#888;
  font-size:12px;
}
::-webkit-input-placeholder { 
  color:#888;
  font-size:12px;
}
#forBg{
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 667px;
  width: 375px;
  position: fixed;
  top: 0;
  left: 0;
}
html{
  width:100%;
  height:auto;
  background-color:rgb(122,122,122);
  /* overflow:hidden; */
}
body{
  width:100%;
  height:auto;
  max-width:600px;
  overflow-x:hidden;
  margin:0 auto;
  font-size:15px;
  font-family:"幼圆","microsoft YaHei"; 
  text-align:center;
}

body.common{
  padding: 0px 10px 60px 10px;
  position: relative;
}
::selection{
  background-color: #aaa;
  color:#fff;
}
::-moz-selection{
  background-color: #aaa;
  color:#fff;
}
.clearfix:before, .clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}
:before,:after{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}

.display-none,.hide{display:none!important;}
.display-block{display:block!important;}

.bg-w1{
  background-color:rgba(255,255,255,0.2);
  border-radius:10px;
}
.bg-w2{
  padding: 8px 0;
  background-color: rgba(255,255,255,.6);
  border-radius: 6px;
  color:rgb(255,147,0)!important;
}
.bg-w3{
  padding: 8px 0;
  background-color: rgba(200,200,200,.3);
  border-radius: 6px;
  color:#fff;
}
.left{
  float:left;
}
.right{
  float:right;
}
.underline{
  text-decoration:underline;
}
.fz-1{
  font-size:30px;
  font-weight:bold;
}
.fz-2{
  font-size:24px;
}.fz-3{
  font-size:18px;
}.fz-4{
  font-size:15px;
}.fz-5{
  font-size:12px;
}
.fc-y{
  color:rgb(255,218,37)!important;
  text-shadow:1px 1px 1px #222!important;
}
.fc-o{
  color:rgb(255,147,0)!important;
}
.fc-w{
  color:#fff!important;
}
.fc-b{
  color:#000!important;
}
.fc-g{
  color:rgb(97,200,97)!important; 
}
.t-shadow{
  text-shadow:1px 1px 1px #222!important;
}
.bold{
  font-weight:bold;
}
.c-input,.c-btn{
  background-color:rgba(255,255,255,.4);
  border:1px solid transparent;
  border-radius:5px;
  height:30px;
  width:90%;
  text-align:center;
  font-family:inherit;
  font-size:15px;
  font-weight:bold;
}
.c-input{
  color:#fff;
}
.c-btn{
  line-height:30px;
  color:rgb(255,218,37);
  text-shadow:1px 1px 1px #222;
  white-space: nowrap;
}
.c-btn:active{
  background-color:rgba(210,210,210,.4);
}
.l-s{
  
}
.decr-img{
  position:absolute;
  width:70px;
}
.relative{
  position:relative;
}
.absolute{
  position:absolute;
}

#footer{
  width:100%;
  position:fixed;
  bottom:3px;
  left:0;    
  z-index: 20;
}
.footer-item{
  color:rgb(255,147,0);
  float:left;
  width:32.33333%;
  margin:0 .5%;
  height:50px;
  line-height:50px;
  font-size:18px;
  background-color:rgba(160,160,160,.9);
  border-radius:7px;
  font-weight:bold;
}
.footer-item.active{
  background-color:rgba(255,218,37,.9);
}



.m-intro-item{
  text-align: left;
  position: relative;
  margin: 8px 0;
}
.m-intro-head{
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  top: 6px;
}
.m-intro-head.no-circle{
  width:0;
  height:0;
}
.m-intro-text{
  display: inline-block;
  padding-left: 15px;
  padding-right: 8px;
  word-break: break-all;
  width: 100%;
  white-space: pre-wrap;
}
.m-intro-text.tleft{
  text-align:left;
}
.m-intro-text.tright{
  text-align:right;
}
.m-intro-text.tcenter{
  text-align:center;
}
.cl-l-item.fix{
  height:250px;
  overflow-y:scroll;
}
.no-border{
  border:none!important;
}
.show-text{
  font-size: 10px;
  color: #fff;
  background-color: rgba(255,255,255,.4);
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  margin-top: 20px;
}
.user-photo{
  width:70px;
  height:70px;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-color:rgba(255,255,255,.3);
  margin:0 auto;
  border-radius:5px;
}
@media screen and (min-width:1000px){
  #footer{
    max-width: 600px;
    left: 50%;
    margin-left: -300px;
  }
}