.c-input{
  
}
.nowrap{
  white-space: nowrap;
}
.l-l{
  letter-spacing:19px;
}
body{
  padding:40px 15px;
}
#loginImg,#loginForm{
  float:left;
}
#loginImg{
  width:35%;
  height:403px;
  position:relative;
}
#loginImg img{
  width:90%;
  position:absolute;
  bottom:-3px;
  left:0;
}
#loginForm{
  width:65%;
  padding:60px 5px;
  position:relative;
}
#loginBottomText{
  width: 100%;
  margin: 20px auto;
}
#loginBottomText img{
  position:relative;
  top:25px;
  width:100%;
}
#mainWrapper{
}
.login-item{
  margin:15px 0;
}
#loginTitle{
  margin-bottom:70px!important;
}
.login-part-l{
  float:left;
  width:37%;
  text-align: left;
}
.login-part-l .fz-3{
  padding-left:11px;
}
.login-part-l.small{
  width:50%;
}
.login-part-r{
  float:left;
  width:63%;
}
.login-part-r.small{
  width:50%;
}
.login-part-l span{
  position:relative;
  top:4px;
}
.login-part-r span{
  position:relative;
  top:7px;
}
.decr-img.login{
  top: -40px;
  right: 0px;
}
.c-btn.login,.c-btn.regist{
  width:65px;
  margin-left: 5px;
}
.c-btn.regist{
  font-size:13px
}
.copyright{
  color: rgb(255, 218, 37);
  font-size: 14px;
  background-color: #777;
  padding: 3px;
  border-radius: 2px;
  position: relative;
  top: -30px;
}